.Box-profile {
  width: 348px;
  height: 292px;

  background: #302f3d;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.title-name {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px;
  margin-top: 24px;
}

.text-stack {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-top: 12px;
}
